.header {
  background-color: black;
  padding: 1em;
  color: white;
}

.header .logo {
  width: 260px;
}

.sidebar {
  background-color: #f4f4f5;
}

a.highlighted {
  background-color: #d9d9ec;
}

/*.NavTree.highlighted {
  background-color: #9ff;
}*/
