.header {
  background-color: black;
  padding: 1em;
  color: white;
}

.header .logo {
  width: 260px;
}

.sidebar {
  background-color: #f4f4f5;
}

a.highlighted {
  background-color: rgba(230,235,255,0.5);
  font-weight: bold;
}

div.NavLevel {
  background-color: rgba(255,255,255,0.25);
}

div.NavLevel.highlighted {
  background-color: rgba(230,235,255,0.25);
}

.NavTree dt {
  margin-left:1em;
}
.NavTree dd {
  margin-left:2em;
}
.NavTree dl {
  margin:0;
}
